body {
    background: #007377;
}

.form-control:focus {
    box-shadow: none;
    border-color: #F6DBA0;
}

.profile-button {
    background: #007377;
    box-shadow: none;
    border: none;
    /* color:black !important; */
}

.profile-button:hover {
    background: #F6DBA0;
    /* color:black !important; */
}

.profile-button:focus {
    /* background: #F6DBA0; */
    box-shadow: none;
    /* color:black; */
}

.profile-button:active {
    background: #007377;
    box-shadow: none;
    /* color: black !important; */
}

.back:hover {
    color: #F6DBA0;
    cursor: pointer;
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #F6DBA0;
    color: black;
    cursor: pointer;
    border: solid 1px #F6DBA0
}