@font-face {
  font-family: 'manrope';
  src: url(../../fonts/Manrope-Regular.ttf);
}

@font-face {
  font-family: 'poppins';
  src: url(../../fonts/Poppins-Regular.ttf);
}


.information-box {
  background-color: #007377 !important;
  color: #fff;
  font-family: 'manrope';
}

.information-box h2,
.information-box h1,
.information-box h3 {
  font-family: 'poppins';
}

.sign-up-button {
  background-color: #007377;
  color: #fff;
}


.error-light{
  color: #FF6666 !important; /* Or white, or a light yellow */
  text-shadow: 0 0 5px rgba(255, 0, 0, 0.7) !important; /* Red glow */
}

@media (max-width: 766px) {
  .registration-form-details {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .information-box {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

}