@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');



@font-face {
  font-family: 'manrope';
  src: url(../fonts/Manrope-Regular.ttf);
}

@font-face {
  font-family: 'poppins';
  src: url(../fonts/Poppins-Regular.ttf);
}



#homebanner {
  font-size: 50px !important;
  font-weight: 600 !important;
  color: #fff;
  font-family: 'poppins';
}

.homebanner-btn {
  margin-top: 50px;
  display: inline-block;
}



.section1 .min-vh-100 {
  min-height: 680px !important;
}

.section1 {
  background-color: black;
}

.divider-teal {
  background-color: #007377;
  height: 2px;
  width: 92px;
  display: block;
  margin: 20px auto;
}

.section2 {
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
  width: 100%;
}



.section2 p {
  font-weight: 300;
  max-width: 840px;
  margin: 0 auto;

}

#homebanner {
  max-width: 624px;
}

#homebanner img {
  height: 75px;
  width: 198px;
}


.section1 a {
  background-color: white;
  color: #007377;
  font-weight: bold;
  font-family: 'manrope';
  border: none;
  white-space: nowrap;
}

.section1 i {
  border: 0px black solid;
  border-radius: 50%;
  background-color: #007377;
  color: white;
  width: 20px;
  height: 20px;
  font-size: 16px;
}





@media (max-width: 768px) {
  #homebanner {
    font-size: 32px !important;
  }

  #homebanner img {
    height: 48px;
    width: 127px;
  }

  .section2 h2 {
    font-size: 24px;
  }

  .right-nav {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (max-width: 576px) {}


@media (min-width: 1346px) {
  .section0 {
    margin-top: 35px !important;
  }
}